.search-query {
  transition: all 0.2s;
}
.search-query:hover {
  transform: rotate(10deg);
  transition: all 0.2s;
}

.field {
    width: fit-content;
  display: inline-block;
  display: block;
  margin: 0 auto;
}
.input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: bisque;
  border: none;
  outline: none;
}

.label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.5s;
  color: #a3a3a3;
}

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3.5rem);
}

.btn {
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 20rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  color: #7e6cee;
  background-color: bisque;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}
.btn:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(#111, 0.2);
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }
