.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  margin-top: 2rem;
  pointer-events: none;
}
.Header-cover {
  content: "";
  min-height: 25vh;
}

.App-header {
  height: max-content;
  background: linear-gradient(to bottom right, #282c34, #484c48) ;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
}

.App-link {
  margin-bottom: .5rem;
}

.App-link *{
  color: #61dafb;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
