.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  margin-top: 2rem;
  pointer-events: none;
}


.App-header {
  background: linear-gradient(to bottom right, #282c34, #484c48) ;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-link *{
  color: #61dafb;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
